@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248,244,244;
  --background-end-rgb: 248,244,244;
}

@font-face {
  font-family: general;
  src: url("../public/fonts/GeneralSans-Variable.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero-bg {
  background-image: radial-gradient(
      206.73% 80.75% at 50% 0%,
      rgba(27, 49, 42, 0.4) 0%,
      #1B312A 30%,
      #14241F 100%
    ),
    url('../public/images/8b448f2d0debde0471dd9c74cf3ebe80d30cd5e7.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes move-to-image-desktop {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-200px, 150px); /* first stop (2s) */
  }
  66% {
    transform: translate(-80px, 270px); /* second stop (4s) */
  }
  100% {
    transform: translate(130px, 400px); /* final stop (6s) */
  }
}



@keyframes move-to-image {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-200px, 150px); /* first stop (2s) */
  }
  66% {
    transform: translate(-80px, 270px); /* second stop (4s) */
  }
  100% {
    transform: translate(22px, 370px); /* final stop (6s) */
  }
}

@keyframes move-to-image-mobile {
  0% {
    transform: translate(0, 400);
  }
  33% {
    transform: translate(-250px, 150px); /* adjusted for mobile */
  }
  66% {
    transform: translate(-100px, 250px); /* adjusted for mobile */
  }
  100% {
    transform: translate(-20px, 300px); /* adjusted for mobile */
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInDelayed {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-move-to-image {
  animation: move-to-image 6s ease-in-out forwards;
}

.animate-slideLeft {
  animation: slideLeft 1s ease-out forwards;
}

.animate-fadeInDelayed {
  animation: fadeInDelayed 1.5s ease-out forwards;
}


@media (min-width: 1500px) {
  .animate-move-to-image {
    animation: move-to-image-desktop 6s ease-in-out forwards;
  }
}


@media (max-width: 1024px) {
  .animate-move-to-image {
    animation: move-to-image-mobile 6s ease-in-out forwards;
  }
}



